<template>
  <div class="relative snap-mandatory">
    <Header :scroll="scrollPosition"/>

    <Home />
    <About />
    <Features />

    <Footer />
  </div>
</template>

<script>
export default {
  data() {
    return {
      scrollPosition: 0,
    };
  },
  methods: {
    updateScroll() {
      this.scrollPosition = setTimeout(() => { window.scrollY; }, 0)
      
    },
  },
  mounted() {
    window.addEventListener("scroll", this.updateScroll);
  },
};
</script>


