<template>
  <section id="about" class="p-20">
    <NuxtLayout>
      <div
        class="flex h-max min-h-[800px] w-full max-w-[560px] flex-col items-center gap-8 lg:items-start"
      >
        <h1 class="text-6xl font-black text-secondary">About The Protem</h1>
        <img src="~/assets/images/line_1.png" class="w-[100px]" alt="" />
        <p class="text-md leading-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed dui
          mollis, finibus odio eget, cursus nibh. Ut accumsan, ipsum a hendrerit
          tempor, ex tortor consectetur tortor, at viverra leo enim at tortor.
          Mauris tristique purus purus, sit amet tempor lacus suscipit at.
          Quisque tristique orci magna, vitae tincidunt lacus maximus vitae.
          Lorem ipsum dolor sit amet, consectetur.
        </p>
        <div class="space-y-6">
          <checked-text>Nunc quis justo sed odio scelerisque.</checked-text>
          <checked-text>Duis tristique lorem non risus dignissim.</checked-text>
        </div>
        <Button class="w-max bg-primary text-secondary" name="Learn More" />
      </div>
      <div class="absolute bottom-0 right-0 hidden h-max w-max lg:block">
        <img
          src="https://images.unsplash.com/photo-1594915440248-1e419eba6611?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGF0YWNlbnRlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
          class="h-[740px] w-[674px] object-cover"
        />
      </div>
    </NuxtLayout>
  </section>
</template>