<template>
  <button class="h-max px-8 py-2" :class=[]>
    <span class="">
      {{ name }}
    </span>
  </button>
</template>

<script>
export default {
  name: "Button",
  props: {
    name: String,
  },
};
</script>
