<template>
  <div class="flex flex-col md:flex-row gap-4 p-4">
    <div
      class="flex aspect-square h-[122px] w-[122px] items-center justify-center bg-primary"
    >
      <img :src="imageUrl" :alt="imageUrl" class="h-16 w-16" />
    </div>
    <div class="flex h-full flex-col gap-3">
      <h3 class="text-lg font-semibold capitalize text-secondary">
        {{ title }}
      </h3>
      <p><slot /></p>
    </div>
  </div>
</template>

<script>
export default {
  name: "card",
  props: {
    title: String,
    imageUrl: {
      default: "",
    },
  },
  computed: {},
};
</script>
