<template>
  <div class="flex items-center gap-4">
    <div class="rounded-full border-2 border-secondary p-1">
      <img src="~/assets/images/checked.png" class="aspect-square w-[15px]" alt="" />
    </div>
    <slot />
  </div>
</template>
