<template>
  <section id="features">
    <div class="flex h-max min-h-screen w-full items-center bg-[#FAFAFA] p-16">
      <NuxtLayout>
        <div class="flex flex-col items-center space-y-14">
          <div
            class="flex w-full flex-col items-center justify-center gap-6 p-4 text-center lg:w-1/2"
          >
            <h1 class="text-6xl font-black text-secondary">
              Future of The Protem
            </h1>
            <img src="~/assets/images/line_1.png" class="w-[100px]" alt="" />
            <p class="text-md leading-6">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et
              purus a odio finibus bibendum in sit amet leo. Mauris feugiat erat
              tellus.
            </p>
          </div>
          <div class="grid w-full gap-4 lg:grid-cols-2">
            <Card
              v-for="(item, index) in cards"
              :key="index"
              :title="item.title"
              :imageUrl="item.icon"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et
              purus a odio finibus bibendum in sit amet leo. Mauris feugiat erat
              tellus.
            </Card>
          </div>
        </div>
      </NuxtLayout>
    </div>
  </section>
</template>

<script>
import Database from "~/assets/svg/database.svg";
import Fingerprint from "~/assets/svg/fingerprint.svg";
import Lamp from "~/assets/svg/lamp.svg";
import Lock from "~/assets/svg/lock.svg";

export default {
  data() {
    return {
      cards: [
        { icon: Database, title: "Data Stored" },
        { icon: Fingerprint, title: "Fingerprint lock" },
        { icon: Lamp, title: "Innovative Idea" },
        { icon: Lock, title: "Password Protect" },
      ],
    };
  },
};
</script>