<template>
  <div
    class="sticky top-0 z-50 h-max w-full px-4 lg:h-0"
    :class="{
      'bg-white drop-shadow-lg transition-all delay-100 ease-in-out lg:h-max':
        scrollPosition > 100,
    }"
  >
    <NuxtLayout>
      <div class="flex w-full justify-between py-2">
        <img
          src="~/assets/images/logo.png"
          alt="Protem-Logo"
          class="hidden lg:block"
        />
        <div
          class="flex w-full flex-wrap items-center justify-between gap-3 px-8 lg:w-1/2"
        >
          <div class="flex items-center gap-2 lg:gap-6">
            <a href="#home" class="appearance-none text-secondary no-underline"
              >Home</a
            >
            <a href="#about" class="appearance-none text-secondary no-underline"
              >About</a
            >
            <a
              href="#features"
              class="appearance-none text-secondary no-underline"
              >Features</a
            >
            <a href="#" class="appearance-none text-secondary no-underline"
              >Collection</a
            >
            <a href="#" class="appearance-none text-secondary no-underline"
              >Contact</a
            >
          </div>
          <Button class="bg-secondary text-white" name="Sign Up" />
        </div>
      </div>
    </NuxtLayout>
  </div>
</template>

<script>
export default {
  data() {
    return {
      scrollPosition: 0,
    };
  },
  methods: {
    updateScroll() {
      this.scrollPosition = window.scrollY;
    },
  },
  mounted() {
    window.addEventListener("scroll", this.updateScroll);
  },
};
</script>