<template>
  <section id="home">
    <div
      class="flex h-max min-h-screen w-full items-center bg-secondary lg:bg-gradient-to-r lg:from-secondary lg:from-50% lg:to-primary lg:to-50%"
    >
      <NuxtLayout>
        <div
          class="flex h-full w-full flex-col p-16 lg:flex-row lg:items-center"
        >
          <div class="container w-full space-y-4 p-4 lg:w-5/12">
            <h1 class="text-[72px] font-bold leading-[5rem] text-white">
              Let's Keep Your Data Safe
            </h1>
            <p class="text-justify leading-8 text-white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et
              purus a odio finibus bibendum in sit amet leo. Mauris feugiat erat
              tellus.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Etiam et purus a odio finibus bibendum in sit amet leo. Mauris
              feugiat erat tellus. Lorem ipsum dolor sit amet.
            </p>
            <Button class="bg-primary text-secondary" name="Know More" />
          </div>
          <div class="relative z-10 hidden lg:block lg:w-7/12">
            <img
              src="https://images.unsplash.com/photo-1558494949-ef010cbdcc31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1334&q=80"
              alt=""
              class="h-[740px] w-[674px] object-cover"
            />
          </div>
        </div>
      </NuxtLayout>
    </div>
  </section>
</template>
